#ProjectCard {
  background-color: black;
  color: white;
  height: 20rem;
  width: 25rem;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}

#ProjectCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
  font-size: 25px;
}

.ProjectContainer {
  margin: 1rem;
  /* padding-top: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
}
