.educationHeader {
  color: lightcoral;
}

.EducationContainer {
  margin: 1rem;
  /* padding-top: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
}
